html,body{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}
.container-1{
    background-image: url('./imgs/bg-img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0;
}
.container-2{
    margin: 0 13%;
}
.container-3{
    background-color: whitesmoke;
    margin-bottom: 0;
}
.container-4{
    background-color: rgb(22, 22, 22);
    color: white;
    margin-top: 0;
    padding: 40px 0;
}
.top-navbar li{
    display: inline;
    list-style: none;
    padding: 20px;
}
.top-navbar{
    width: fit-content;
    margin: auto;
    padding-top: 25px;
}
.top-navbar a:hover {
    color: blue;
    font-weight: bolder;
}
.top-navbar a {
    text-decoration: none;
    color: black;
}
.hero-container{
    margin-left: 20%;
    margin-top: 14%;
}
.text-large{
    font-size: 25px;
    margin: 0;
}
.text-larger{
    font-size: 65px;
    font-weight: bolder;
    margin: 0
}
.btn-group{
    margin-top: 50px;
}
.btn{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
}
.btn-transparent{
    background-color: white;
}
.btn-outlined{
    color: white;
    background-color: blue;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-item-left{
    margin-top: 15%;
    margin-right: 20px;
}
.flex-item-right img{
    object-fit: cover;
    width: 100%;
}
.flex-products{
align-content: space-between;
margin:3% 10% 0 3%;
padding: 5% 0;
}
.flex-item3{
width:33%;
padding: 0 20px;
}
.text-medium-bold{
font-weight: bold;
font-size: larger;
margin-bottom: 10px;
}

.img{
    width: 100%;
    object-fit: contain;
}
